*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  
  color: var(--color-font-primary);
}
:root {
  --color-primary:#5f5e5e;
  --color-font-primary: #111;
  --color-outline: rgb(147, 168, 236);
}
